<header>
  <div class="echo">
    <h1>EKO</h1>
  </div>
  <div>
    <a href="/projects" class="index"><h2>PROJECTS</h2></a>
    <%= link_to 'New Project', new_project_path, class: "btn" %>
  </div>
</header>