<header>
  <div class="echo">
    <h1>EKO</h1>
  </div>
  <div>
    <%= link_to project_path(@project.id), class: "project-name" do %>
      <h3><%= @project.name %></h3>
    <% end %>
    <%= link_to 'Projects', projects_path, class: "btn" %>
  </div>
</header>