// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #f1f1f1;
  color: #333;
}

header {
  background: #f55;
  height: 100%;
  float: left;
  position: fixed;
  width: 30%;
  min-width: 200px;
  padding-top: 4.5em;

  h2 {
    font-size: 2em;
    color: #fff;
    letter-spacing: 2px;
  }

  div {
    float: right;
    padding-right: 1.3em;
    text-align: right;
  }

  .btn {
    color: #fff;
    font-size: 0.7em;
  }

  a:hover {
    color: #333;
  }
}

main {
  float: left;
  margin-left: 30%;
  width: 70%;
}

section {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 0.5em 0;
  clear: both;

  .description {
    width: 80%;
    display: inline-block;

    h3 {
      font-size: 1.4em;
      line-height: 1.3em;
    }
  }

  .options {
    display: inline-block;
  }

  i {
    margin-left: 2em;
  }
}

.form {
  width: 100%;
  height: 10em;

  .text-area {
    width: 70%;
    height: 100%;
  }

  .field {
    width: 100%;
    height: 100%;
  }

  .actions {
    display: inline-block;
  }
}

.btn {
  font-size: 1.1em;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 0.5em 1em;
}












