// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  background: #f55;
  height: 100%;
  float: left;
  position: fixed;
  width: 30%;
  min-width: 200px;
  padding-top: 4.5em;

  h2 {
    font-size: 1.6em;
    color: #fff;
    letter-spacing: 3px;
  }

  div {
    float: right;
    padding-right: 1.3em;
    text-align: right;
  }

  .btn {
    color: #fff;
  }

  a:hover {
    color: #333;
  }
}

main {
  float: left;
  margin-left: 30%;
  width: 70%;
}

.project {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 0.5em 0;
  clear: both;

  .description {
    width: 80%;
    display: inline-block;
  }

  .options {
    display: inline-block;
  }

  i {
    margin-left: 2em;
  }
}

.btn {
  font-size: 1.1em;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 0.5em 1em;
}












