*:focus {
  outline: none;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* ———————————————  App styles  ———————————————— */

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 18px;
  background-color: #fff;
  color: #333;

  a {
    text-decoration: none;
  }
}

header {
  background: #f55;
  height: 100%;
  float: left;
  position: fixed;
  width: 30%;
  min-width: 200px;
  padding-top: 6em;
  box-shadow: 0px 0px 7px 1px;

  h2 {
    font-size: 2.2em;
    color: #fff;
    letter-spacing: 2px;
  }

  h3 {
    font-size: 1.8em;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.3em;
    font-weight: 300;
  }

  div {
    float: right;
    padding-right: 1.3em;
    text-align: right;
  }

  .btn {
    color: #fff;
    font-size: 1.2em;
    border: 1px solid #fff;
  }

  a:hover, a:focus{
    color: #333;
    border: 1px solid #333;
  }

  .project-name:hover {
    border: none;

    h3 {
      color: #333;
    }
  }

  .index:hover, .index:focus{
    border: none;

    h2, h3 {
      color: #333 !important;
    }
  }
}

main {
  float: left;
  margin-left: 30%;
  width: 70%;
}

a {
  text-decoration: none !important;
  color: #333;

  &:hover &:focus{
    color: #f55;
  }
}

section {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 0.5em 0;
  clear: both;

  .name, .description {
    width: 80%;
    display: inline-block;
    color: #fff;

    h3 {
      font-size: 1.8em;
      line-height: 1.3em;
      color: #333;
    }
  }

    h4 {
      font-size: 1.8em;
      line-height: 1.3em;
      color: #333;
    }

  .options {
    display: inline-block;

    a {
      font-size: 1.2em;
    }
  }

  i {
    margin-left: 2em;

    &:hover {
      color: #f55;
    }
  }
}

.btn {
  background-color: rgba(0,0,0,0);
  font-size: 1.6em;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0.5em 1em;

  &:hover {
    color: #333;
    border: 1px solid #333;
  }
}

.form {
  
  &#project-form {
    margin-top: 1.3em;
  }

  input {
    font-size: 1.7em;

    &.text {
      width: 80%;
    }

    &.transparent {
       background-color: rgba(0,0,0,0);
       height: 2em;
       border: none;
       border-bottom: 1px solid gray;
    }

    &:focus {
      border: none;
      border-bottom: 1px solid #f55;
      outline: none;

      &::-webkit-input-placeholder {
        color: #f55;
      }
    }

  }

  .back {
    float: right;
  }
}

.submit {
  background-color: rgba(0,0,0,0);
  border: none;
  font-weight: 400;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0.4em 1em;
  margin: 0.7em 0;
  font-size: 1.2em !important;


  &:hover {
    color: #f55;
  }
}


//////////////// projects#show styles //////////////////

h4 {
  color: #333;
}

.btn.btn-small {
  font-size: 2.2em;
  padding: 0.3em 0.8em;
  font-weight: 400;
}

